<div class="row pt-3">
    <div class="col-lg-4 logo-area">
        <div class="logo-image">
            <img src="/assets/todoapp_logo.png" alt="">
        </div>
        <div class="logo-name">
            ToDo App
        </div>
    </div>
    <div class="col-lg-8 pais-menyy">
        <ul class="d-md-flex align-items-center justify-content-end">
            <li><a href="/">Esileht</a></li>
            
        </ul>
    </div>
</div>